<body>
  <div class="container">
    <h2>Jogos que entraram pra história</h2>

  
    <div *ngIf="games && games.length > 0; else noGames" class="row">
      <div class="col-md-4" *ngFor="let game of games">
        <div class="card mb-4">
          <img [src]="game.background_image" class="card-img-top" alt="Game Image" />
          <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
            <p class="card-text">{{ game.released | date }}</p>
          </div>
        </div>
      </div>
    </div>

  
    <ng-template #noGames>
      <p>Não há jogos disponíveis no momento.</p>
    </ng-template>
  </div>
</body>



