body{
  background-color: #03031b;
}
.goty-list {
  text-align: center;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.game-card {
  width: 200px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game-card img {
  width: 100%;
  height: auto;
}

.game-card h2 {
  margin: 10px 0;
  font-size: 16px;
}

h1{
  color: #ffffff;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}
