.content{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  text-align: center;
  align-items: center;
}

.container{
  align-items: center;
  text-align: center;
}

body {
  background-color: #03031b;
  color: white;
}

.carousel-item img {
  object-fit: cover;
}
