<body>
  <div class="container mt-5">
    <div id="carouselExampleIndicators" class="carousel slide border p-3" style="max-width: 80%; margin: 0 auto; border-radius: 10px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/10.jpg" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="assets/images/6.jpg" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="assets/images/11.png" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container mt-3 text-center"> <!-- Ajustei o mt-3 para aproximar mais -->
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <h3>Curiosidades sobre The Game Awards</h3>
        <p><strong>1. A cerimônia de premiação foi criada por Geoff Keighley e teve sua primeira edição em 2014.</strong></p>
        <p><strong>2. A "Jogo do Ano" é a principal categoria e já foi vencida por títulos como The Last of Us, Sekiro e Elden Ring.</strong></p>
        <p><strong>3. O evento é transmitido ao vivo para milhões de espectadores ao redor do mundo, com apresentações e anúncios de novos jogos.</strong></p>
        <p><strong>4. Além das categorias principais, o evento também celebra a música, design e inovação nos jogos.</strong></p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container text-center mt-4">
      <img src="assets/images/3.jpg" alt="Game Awards" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover; margin-right: 15px;">
      <h1>Games</h1>
      <p>Jogos mais jogados!</p>
      <a routerLink="/listagem" class="btn btn-primary">Veja as Categorias</a>
    </div>

    <img src="assets/images/2.webp" alt="Game Awards" class="rounded-circle mt-4" style="width: 200px; height: 200px; object-fit: cover; margin-right: 15px;">
    <div class=" container text-center mt-4">
      <a routerLink="/goty-list" class="btn btn-primary">Veja os Indicados ao Jogo do Ano</a>
    </div>
  </div>

</body>
